@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;

@import url('https://fonts.cdnfonts.com/css/sf-distant-galaxy');
@import url('https://fonts.cdnfonts.com/css/noto-sans-chorasmian');

// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: #E3F1FB;
  font-family: "Noto Sans Chorasmian";
}

h1 {
  font-family: "SF Distant Galaxy", "Nova Square", sans-serif;
}

.button {
  background-color: #1B7EC4;
  font-weight: bold;
  border-radius: 5px;
}

.form-buttons {
  margin-top: 50px;
  justify-content: space-around;
}

.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #193665;
  color: #F9FEFA;
  height: 50px;
  padding: 1em;
}

.menu-title {
  font-family: "SF Distant Galaxy Alternate", "Nova Square", sans-serif;
  color: #F9FEFA;
  text-shadow: #F9FEFA 1px 0 3px;
  font-size: x-large;
  margin-left: 20px;
}

.nav-option {
  color: #F9FEFA;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.menu > li {
  margin: 0 1rem;
  overflow: hidden;
}

.menu-button-container {
  display: none !important;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

@media (max-width: 700px) {
  .menu-button-container {
    display: flex !important;
  }

  .menu {
    position: absolute;
    top: 0;
    margin-top: 50px;
    left: 0;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  #menu-toggle ~ .menu li {
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  #menu-toggle:checked ~ .menu li {
    border: 0.5px solid #193665;
    height: 2.5em;
    padding: 0.5em;
    transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  }

  .menu > li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    background-color: #E3F1FB;

    .nav-option {
      color: #193665;
    }
  }

  .menu > li:not(:last-child) {
    border-bottom: 0.5px solid #193665;
  }

  .menu li:last-child {
    background-color: #1B7EC4;
      
    .button {
      font-size: 1rem;
    }
  }
}

#home-header {
  background-image: url(./../images/index-page-hero-banner_1600x700.jpg);
  background-attachment: fixed;
  background-color: #193665;
  width: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  max-height: 575px;
  overflow: hidden;
}

.header-text {
  background-color: rgba(25,54,101,60%);
  width: 60%;
  border-radius: 20px;
  color: #F9FEFA;
  padding: 20px 0 30px 50px;
  align-content: center;
  margin: 50px;
  text-shadow: #F9FEFA 4px 0 10px;

  h1 {
    font-family: "SF Distant Galaxy Alternate", "Nova Square", sans-serif;
    font-size: 6rem;
  }

  h3 {
    font-family: "Noto Sans Chorasmian";
    font-size: 2rem;
  }

  p {
    font-family: "Noto Sans Chorasmian";
    font-size: 1.5rem;
    margin-top: 50px;
  }
}

#search-and-filter {
  height: 75px;
  background-color: #193665;
  position: sticky;
  top: -5px;
}

#search-section {
  width: 90%;
  margin: auto;
  padding-top: 17px;
  

  input {
    margin-left: 20px;
    margin-right: 20px;
  }
}

#home-media-index {
  width: 90%;
  margin: auto;
}

.to-top {
  color: #254F94;
  margin: 1.5rem 1rem;
  width: 100%;
  text-align: center;
  cursor: pointer;
  font-size: smaller;
  font-weight: bold;
}

.media-tile {
  margin: 20px;
  background-color: #F9FEFA;
  box-shadow: 5px 3px 5px rgba(25,54,101,50%);
  border-radius: 5px;
  max-width: 300px;
}

.media-tile-cover {
  margin: auto;
  border-radius: 5px 5px 0px 0px;
}

.media-tile-title {
  color: #193665;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  padding-top: 15px;
}

.member-buttons {
  justify-content: center;
  margin-bottom: 10px;
  
  li {
    padding: 5px 7px;
    margin: 5px;
    font-size: 0.75rem;
  }

  i {
    padding-left: 7px;
  }
}

.media-show-container {
  color: #193665;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
  width: 69%;
  background-color: #F9FEFA;
  border-radius: 10px;
  box-shadow: 10px 8px 5px rgba(25,54,101,50%);

  img {
    border-radius: 10px 0px 0px 10px;
  }
}

.media-show-details {
  padding: 25px;

  h1 {
    font-family: "Noto Sans Chorasmian";
    margin-bottom: 1rem;
    font-weight: bold;
  }
}

.tag-bubbles {
  padding-top: 25px;
  list-style-type: none;
}

.tag {
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
}

.canon {
  border-color: #193665;
  background-color: #193665;
  color: #F9FEFA;
}

.legend {
  border-color: #650901;
  background-color: #650901;
  color: #F9FEFA;
}

.animated {
  border-color: #C83C15;
  background-color: #C83C15;
  color: #F9FEFA;
}

.lego {
  border-color: #FFD700;
  background-color: #FFD700;
  width: 125px;
  color: #071018;
}

.user-buttons {
  margin-top: 50px;

  .show-member-buttons {
    justify-content: center;
    margin-bottom: 10px;
    
    li {
      padding: 5px 7px;
      margin: 5px;
    }
  
    i {
      padding-left: 7px;
    }
  }
}

.non-media-page {
  width: 79%;
  margin: auto;
  margin-bottom: 0px;
  padding: 3rem;
  color: #193665;
  background-color: #F9FEFA;
  border: 1px solid #193665;
  border-top: none;

  .non-media-page-top {
    margin: auto;
    margin-bottom: 1.5rem;
    max-width: 700px;
    
    h1 {
      font-size: 5rem;
      text-align: center;
      padding: 3rem 0px;
    }
  }

  .about-header {
    max-width: 900px
  }

  .about-section {
    margin-bottom: 100px;
  }

  .cell {
    padding: 0px 10px 0px 10px;
  }
}

.user-account-media-lists {
  margin: 3rem; 
  justify-content: space-around;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }

  .button {
    max-width: 50%;
  }

  section {
    list-style-type: none;
  }
}

.media-title {
  font-weight: bold;
}

.form-page {
  width: 79%;
  max-width: 700px;
  margin: auto;
  color: #193665;
  
  h1 {
    font-size: 5rem;
    text-align: center;
    padding: 50px 0px 75px 0px;
  }

  input {
    margin-left: 5px;
  }
}

legend, label {
  color: #193665;
  font-weight: bold;
  padding-right: 10px;
}

.required {
  color: #C83C15;
}

.choice-grid {
  max-width: 600px;
}

.radio-choice {
  font-weight: normal;
}

.admin-restricted-page {
  background-color: #FFDFDC;
  color: #650901;
  width: 69%;
  margin: auto;
  margin-top: 50px;
  border: 2px solid #650901;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  font-weight: bold;

  h1 {
    margin: 50px 0px;
  }

  p {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 1050px) {
  h1 {
    font-size: 4.5rem;
  }

  .media-show-container {
    width: 80%;
    
    h1 {
      font-size: 3rem;
    }
  }
}

@media screen and (max-width: 640px) {
  .header-text {
    width: 85%;
    margin: auto;
    margin-top: 3rem;
    text-align: center;
    padding: 10px;
  }

  h1 {
    font-size: 3.5rem;
  }

  h3 {
    font-size: 1.5rem;
  }
  
  #search-section {
    justify-content: center;  
  }

  #home-media-index {
    justify-content: center;
  }

  .media-tile-title {
    font-size: 0.9rem;
  }
  
  .member-buttons {
    font-size: 75%;
  }

  .media-show-container {
    margin-top: 5rem;
    margin-bottom: 5rem;

    h1 {
      font-size: 2.5rem;
    }
  
    img {
      border-radius: 10px 10px 0px 0px;
      max-height: 600px;
    }
  }
}

@media screen and (max-width: 540px) {
  .header-text {
    h1 {
      font-size: 3rem;
    }

    h3, p {
      font-size: 1.2rem;
    }
  }

  #search-and-filter {
    .button {
      font-size: 0.8rem;
      padding: initial;
    }
  }
  
  .media-tile-title {
    font-size: 1.2rem;
  }

  .media-show-container {
    h1 {
      text-align: center;
      padding: initial;
      font-size: 2rem;
    }

    p {
      font-size: 0.9rem;
    }

    h6 {
      text-align: center;
    }

    .tag-bubbles {
      margin: initial;
    }

    .tag {
      margin: auto;
    }
  }

  .non-media-page {
      width: 85%;
      padding: 1rem;
    
    p {
      font-size: 0.9rem;
    }
    
    .non-media-page-top {
      h1 {
        font-size: 3rem;
        text-align: center;
      }

      p {
        text-align: center;
      }
    }

    h2 {
      font-weight: bold;
      margin: 1.2rem 0;
      text-align: center;
    }

    p {
      a {
        float: right;
        position: relative;
        top: 3rem;
      }
    }

    .about-gif {
      margin: auto;
    }
    
    #obi-wan-gif {
      margin-top: -3rem;
    }

    #about-developer-header {
      margin-top: 3rem;
    }
  }

  .form-page {
    width: 85%;

    h1 {
      font-size: 3rem;
      padding: 1.5rem;
    }

    .button {
      font-size: 0.875rem;
    }
  }

  .user-account-media-lists {
    .cell {
      width: initial;
    }

    h2 {
      font-size: 1.3rem;
      margin-top: 2rem;
    }

    button {
      margin: auto;
      max-width: initial !important;
    }

    section {
      margin-top: 1rem;
    }

    li {
      font-size: 0.9rem;
    }
  }
}

@media screen and (max-width: 390px) {
  .non-media-page {
    h2 {
      font-size: 1rem;
    }  
  }
}

@media screen and (max-width: 375px) {
  .media-show-container {
    h1 {
      font-size: 1.75rem;
    }

    p {
      font-size: 0.8rem;
    }
  }

  .non-media-page {
    p {
      font-size: 0.8rem;
    }
  }

  .user-account-media-lists {
    li {
      font-size: 0.8rem;
    }
  }
}

@media screen and (max-width: 360px) {
  .header-text {
    h1 {
      font-size: 2rem;
    }

    h3, p {
      font-size: 1rem;
    }
  }

  #search-and-filter {
    .button {
      font-size: 0.7rem;
    }
  }

  .form-page {
    h1 {
      font-size: 2rem;
    }
  }
}

@media screen and (max-width: 280px) {
  #search-and-filter {
    .button {
      font-size: 0.6rem;
    }
  }

  .media-tile-title {
    font-size: 1rem;
  }

  .tag {
    font-size: 0.8rem;
  }

  .non-media-page {
    .non-media-page-top {
      h1 {
        font-size: 1.75rem;
      }
    }

    h2 {
      font-size: 0.875rem;
    }

    p {
      a {
        top: 1rem;
      }
    }
  }

  .user-account-media-lists {
    h2 {
      font-size: 1rem;
    }
    
    button {
      font-size: 0.875rem;
    }
  }
}