@import "./foundation/settings";
@import "~foundation-sites/scss/foundation";
@include foundation-everything;
// place global css here
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

body {
  background-color: #E3F1FB;
}

.button {
  background-color: #1B7EC4;
  font-weight: bold;
  border-radius: 5px;
}

.form-buttons {
  margin-top: 50px;
  justify-content: space-around;
}

.top-bar {
  background-color: #193665;

  ul {
    background-color: #193665;
    color: #F9FEFA;
  }

  .nav-option {
    color: #F9FEFA;
    ;
  }

}

#home-header {
  background-image: url(./../images/index-page-hero-banner_1600x700.jpg);
  background-color: #193665;
  background-repeat: no-repeat;
  background-position-x: center;
  height: 700px;
}

.header-text {
  padding-top: 150px;
  padding-left: 200px;
  color: #F9FEFA;
}

#home-media-index {
  margin: 0px 100px;
}

.media-tile {
  margin: 20px;
  background-color: #F9FEFA;
  border: 2px solid #193665;
  box-shadow: 10px 8px 5px #193665;
  border-radius: 5px;
}

.media-tile-cover {
  margin: auto;
}

.media-tile-title {
  color: #193665;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  padding-top: 15px;
}

.media-show-container {
  color: #193665;
  margin: auto;
  margin-top: 100px;
  width: 69%;
  background-color: #F9FEFA;
  border: 2px solid #193665;
  border-radius: 10px;
  box-shadow: 10px 8px 5px #193665;
}

.media-show-details {
  padding: 25px;

  h1 {
    padding-bottom: 10px;
    font-weight: bold;
  }
}

.tag-bubbles {
  padding-top: 25px;
  list-style-type: none;
}

.tag {
  border-radius: 30px;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  width: 150px;
}

.canon {
  border-color: #193665;
  background-color: #193665;
  color: #F9FEFA;
}

.legend {
  border-color: #650901;
  background-color: #650901;
  color: #F9FEFA;
}

.animated {
  border-color: #C83C15;
  background-color: #C83C15;
  color: #F9FEFA;
}

.lego {
  border-color: #FFD700;
  background-color: #FFD700;
  width: 125px;
  color: #071018;
}

.non-media-page {
  width: 69%;
  max-width: 700px;
  margin: auto;
  margin-top: 50px;
  color: #193665;

  h1 {
    margin-bottom: 25px;
  }
}

legend, label {
  color: #193665;
  font-weight: bold;
  padding-right: 10px;
}

.required {
  color: #C83C15;
}

.choice-grid {
  max-width: 600px;
}

.radio-choice {
  font-weight: normal;
}


.admin-restricted-page {
  background-color: #FFDFDC;
  color: #650901;
  width: 69%;
  margin: auto;
  margin-top: 50px;
  border: 2px solid #650901;
  border-radius: 10px;
  padding: 25px;
  text-align: center;
  font-weight: bold;

  h1 {
    margin: 50px 0px;
  }

  p {
    font-size: 1.5rem;
  }
}